.navbarbox{
    border-radius: 7px;
    height:45px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}
.active {
    text-decoration: none;
    color: #ff8f00;
  }
  .default {
    text-decoration: none;
    color: white;
  }