@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@1,700&display=swap');

:root {
   
    --color-100:#ff8f00;
    --color-200:blueviolet;
  }


.heading{
    width: 90%;
    color:white;
    text-align: center;
    padding: 10px 10px;
   animation-name: moveright;
   animation-duration: 1s;
   line-height: normal;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   background-image:linear-gradient(to right bottom ,black  30%,#0a0221  );

   /* -webkit-backdrop-filter: blur(10px);
   border-radius: 20px;
   /* border:1px solid rgba(255, 255, 255, 0.18); */
   box-shadow: 0 8px 32px 0 #5ddcff; ; 
   padding: 2rem 2rem;
}
.heading>div{
    height:70px;
    width: 80%;
    /* border: 1px solid white; */
}
.heading>div:first-child{
    width: 80%;
}
.heading>div:first-child>h1{
    font-size: 2.5rem;
}
.heading>div>h1:first-child{
    font-size: 2rem;
}
@keyframes moveright {
    0%{
          opacity: 0;
          transform: translateX(-200%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}
.heading>div{
    width: fit-content;
  
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.heading>div:nth-child(3)
{  
    font-family: 'Poppins', sans-serif;
}
.heading>div>h1:nth-child(2){
    color:#5ddcff;
    margin-left: 15px;
    font-size: 2rem;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 10px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff;
    animation :typewriter 2s linear infinite;

/* font-family: 'Poppins', sans-serif; */
}
.heading>div>h1:first-child{
    font-size: 2rem;
    color:#5ddcff;
}

@keyframes typewriter {
    0%{
           text-shadow: 0 0  20px #5ddcff,
           0 0  20px  #5ddcff,
            0 0  20px #5ddcff,
            0 0  20px #5ddcff

    }
    50%{
      text-shadow: 0 0  10px #5ddcff,
      0 0  5px #5ddcff,
       0 0  5px #5ddcff,
       0 0  5px #5ddcff
    }
    100%{
      text-shadow: 0 0  20px #5ddcff,
      0 0  20px  #5ddcff,
       0 0  20px #5ddcff,
       0 0  20px #5ddcff
    }
    
  }
.btns>button{
    height:3rem;
    border-width: 4px;
    border-radius: 15px;
    text-align: center;
    background-color: transparent;
    margin-top: 30px;
    color:#5ddcff;
    border-color:#5ddcff;
    transition: 0.7s;
    padding: 0.5rem 0.5rem;
}
.btns>button:hover{
    color:white;
    text-shadow: 0 0 10px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff;
    box-shadow: 0 0 10px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff,
    0 0 20px #5ddcff,
}
















@media only screen and (max-width: 600px){
 .heading.div{
    border:1px solid white
 }
}



@media only screen and (max-width: 413px) {
.heading{
    width:100% ;
    height: fit-content;
    padding: 10px 0px;
}
.heading>div>{
    width: 100%;
    border: 1px solid white;
    height: 43px;
 
}
.heading>div>h1:first-child{
    font-size: 1.3rem;
}
.heading>div>h1:nth-child(2){
    font-size: 1.3rem;
}
.heading>div:first-child{
    height: 43px;
}
.heading>div:nth-child(2){
    height: 43px;
}
.heading>div:last-child{
    height: 43px;
}
.btns>button{
    margin-top: 18px;
}





}